.custom-hep-button{
    float: right;
    position: relative;
    left: -46px;
    top: -4px;
}

.custom-hep-button-edit, .custom-hep-button-save{
position: absolute;
    float: right;
    background: #447788;
    padding: 6px 11px 6px 11px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display:none;
}

.custom-help{
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    background: none;
}

.custom-hep-text textarea{
      width: 100%;
    border: none;
    min-height: 200px;
}

.custom-hep-text {
    min-height: 23px;
}

.custom-hep-text textarea:focus{
     outline: none;
}